.container {
    @include container-fixed;

    @include media('>=phone') { width: $container-sm; }
    @include media('>=tablet') { width: $container-md; }
    @include media('>=desktop') { width: $container-lg; }
}

.container-fluid { @include container-fixed; }

.row { @include make-row; }

@include make-grid-columns;

@include make-grid(xs);

@include media('>=phone') { @include make-grid(sm); }
@include media('>=tablet') { @include make-grid(md); }
@include media('>=desktop') { @include make-grid(lg); }

@at-root {
    @-ms-viewport { width: device-width; }
}

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block,
.visible-sm-block, .visible-sm-inline, .visible-sm-inline-block,
.visible-md-block, .visible-md-inline, .visible-md-inline-block,
.visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none !important;
}

.visible-xs-block {
    @include media('<phone') { display: block !important; }
}

.visible-xs-inline {
    @include media('<phone') { display: inline !important; }
}

.visible-xs-inline-block {
    @include media('<phone') { display: inline-block !important; }
}

.visible-sm-block {
    @include media('>=phone', '<tablet') { display: block !important; }
}

.visible-sm-inline {
    @include media('>=phone', '<tablet') { display: inline !important; }
}

.visible-sm-inline-block {
    @include media('>=phone', '<tablet') { display: inline-block !important; }
}

.visible-md-block {
    @include media('>=tablet', '<desktop') { display: block !important; }
}

.visible-md-inline {
    @include media('>=tablet', '<desktop') { display: inline !important; }
}

.visible-md-inline-block {
    @include media('>=tablet', '<desktop') { display: inline-block !important; }
}

.visible-lg-block {
    @include media('>=desktop') { display: block !important; }
}

.visible-lg-inline {
    @include media('>=desktop') { display: inline !important; }
}

.visible-lg-inline-block {
    @include media('>=desktop') { display: inline-block !important; }
}

@include media('<phone') {
    @include responsive-invisibility('.hidden-xs');
}

@include media('>=phone', '<tablet') {
    @include responsive-invisibility('.hidden-sm');
}

@include media('>=tablet', '<desktop') {
    @include responsive-invisibility('.hidden-md');
}

@include media('>=desktop') {
    @include responsive-invisibility('.hidden-lg');
}
