.clearfix { @include clearfix; }
.center-block { @include center-block; }
.pull-right { float: right !important; }
.pull-left { float: left !important; }

.hide { display: none !important; }
.show { display: block !important; }
.invisible { visibility: hidden; }

.text-hide { @include text-hide; }
.text-overflow { @include text-overflow(); }
.text-center { text-align: center; }

.img-responsive { @include img-responsive; }

.list-unstyled { @include list-unstyled; }

.list-inline {
    @include list-unstyled;

    margin-left: -5px;

    & > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;

    .embed-responsive-item, iframe, embed, object, video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: 0;
    }
}

.embed-responsive-4by3 { padding-bottom: 75%; }
.embed-responsive-16by9 { padding-bottom: 56.25%; }

.row--flex {
    @include media('>=phone') {
        display: flex;
        flex-wrap: wrap;

        .safari &,
        .ios & {
            &:before,
            &:after {
                display: none;
            }
        }
    }
}
