*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    font-family: sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: 300;
    line-height: $line-height-base;
    color: $text-color;
    background-color: $body-bg;
    padding: 75px 0 30px;
}

*:focus { outline: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;

    &:active, &:hover { outline-width: 0; }

    &:hover { text-decoration: $link-hover-decoration; }

    &:focus { outline: 0; }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
}

ul, ol, p {
    margin-top: 0;
    margin-bottom: 0;
}

b, strong { font-weight: 700; }

img {
    vertical-align: middle;
    border-style: none;
}

figure { margin: 0; }

button {
    -webkit-appearance: button;

    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0 none;
    font: inherit;
    text-transform: none;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button:-moz-focusring, input:-moz-focusring { outline: 1px dotted ButtonText; }

select::-ms-expand { display: none; }

sup { font-size: 8px; }
