.btn {
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    transition: all 200ms ease;
}

.btn--primary {
    @include btn-colors(
        map-get($btn-primary, 'color'),
        map-get($btn-primary, 'background'),
        map-get($btn-primary, 'shadow'),
        map-get($btn-primary, 'color-hover'),
        map-get($btn-primary, 'background-hover'),
        map-get($btn-primary, 'shadow-hover')
    );
}
