@font-face {
    font-family: 'icons';
    src: url('../_fonts/icons.eot?58vl2s');
    src: url('../_fonts/icons.eot?58vl2s#iefix') format('embedded-opentype'),
         url('../_fonts/icons.woff2?58vl2s') format('woff2'),
         url('../_fonts/icons.ttf?58vl2s') format('truetype'),
         url('../_fonts/icons.woff?58vl2s') format('woff'),
         url('../_fonts/icons.svg?58vl2s#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'icons' !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
}

.icon--right-arrow:before { content: '\e900'; }
.icon--left-arrow:before { content: '\e901'; }
.icon--star-filled:before { content: '\e60b'; }
.icon--star:before { content: '\e60c'; }
.icon--list-view:before { content: '\e61d'; }
.icon--gallery-view:before { content: '\e61e'; }
