.page-header {
    align-items: center;
    backface-visibility: hidden;
    background-color: #32BCD0;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, .15);
    display: flex;
    height: 75px;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.hamburger {
    left: 10px;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
