.real-estate-list {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;

    @include media('>=phone') {
        align-items: flex-start;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    @include media('>=tablet') {
        &.list-view { display: block; }
    }
}

.real-estate {
    background: no-repeat center center transparent;
    background-size: cover;
    border: 1px solid #DDD;
    border-radius: 10px;
    color: #FFF;
    height: 260px;
    margin: 15px 0;
    padding: 20px;
    position: relative;
    width: 300px;

    &:before {
        background: linear-gradient(to top, rgba(0, 0, 0, .85) 0%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .15) 85%, rgba(0, 0, 0, 0) 100%);
        border-radius: 10px;
        bottom: 0;
        content: '';
        display: block;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#00000000', GradientType=0);
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    @include media('>=tablet') {
        .real-estate-list.list-view & {
            background-image: none !important;
            background-color: #FFF;
            color: $text-color;
            height: auto;
            margin-bottom: 30px;
            width: auto;

            &:before { display: none; }
        }
    }
}

.row {
    .real-estate & {
        height: 100%;

        @include media('>=tablet') {
            .real-estate-list.list-view & { height: auto; }
        }
    }
}

.real-estate__content-wrapper {
    height: 100%;
    position: relative;

    @include media('>=tablet') {
        .real-estate-list.gallery-view & { width: 100%; }
        .real-estate-list.list-view & { height: auto; }
    }
}

.real-estate__slider-wrapper {
    display: none;

    @include media('>=tablet') {
        .real-estate-list.list-view & { display: block; }
    }
}

.real-estate__content {
    bottom: 0;
    left: 10px;
    position: absolute;
    right: 10px;
    text-shadow: 0 3px 7px rgba(0, 0, 0, .35);

    @include media('>=tablet') {
        .real-estate-list.list-view & {
            position: relative;
            text-shadow: none;
        }
    }
}

.real-estate__title {
    font-size: 18px;
    line-height: 1.33334;
}

.real-estate__features {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.real-estate__feature {
    position: relative;

    &:not(:last-child):not(:only-child):after {
        background-color: #FFF;
        content: '';
        display: inline-block;
        height: 12px;
        position: absolute;
        right: .5px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;

        @include media('>=tablet') {
            .real-estate-list.list-view & { background-color: $text-color; }
        }
    }
}

.real-estate__price {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.33334;

    @include media('>=tablet') {
        .real-estate-list.list-view & { margin-top: $line-height-computed; }
    }
}

.real-estate__description {
    display: none;

    @include media('>=tablet') {
        .real-estate-list.list-view & { display: block; }
    }
}

.real-estate__favorite {
    &.btn {
        display: none;
        margin-top: $line-height-computed;
        padding-left: 36px;

        @include media('>=tablet') {
            .real-estate-list.list-view & { display: block; }
        }

        &:before {
            @extend .icon;
            @extend .icon--star;

            left: 10px;
            font-size: 22px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &.is-active:before { @extend .icon--star-filled; }
    }

    &.real-estate__favorite--star {
        font-size: 28px;
        position: absolute;
        right: 0;
        text-shadow: 0 3px 7px rgba(0, 0, 0, .35);
        top: -15px;

        &:before { display: none; }

        &.is-active {
            & > .icon:before { @extend .icon--star-filled; }
        }

        @include media('>=tablet') {
            display: none;

            .real-estate-list.gallery-view & { display: block; }
        }
    }
}

.real-estate__slider {
    margin: 0 -10px;
    position: relative;

    & .slick-arrow {
        @include text-hide();

        background-color: rgba(#000, .5);
        color: #FFF;
        height: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        z-index: 2;

        &:before {
            @extend .icon;
            font-size: $line-height-computed;
        }

        &.slick-prev {
            left: 11px;

            &:before { content: '\e901'; }
        }

        &.slick-next {
            right: 11px;

            &:before { content: '\e900'; }
        }
    }
}

.real-estate__slide {
    background: no-repeat center center transparent;
    background-size: cover;
    border: 1px solid #DDD;
    border-radius: 10px;
    display: block;
    height: 220px;
    margin: 0 10px;
    width: 100%;
}

.real-estate__slide--1 { background-image: url('../_images/foto-01.jpg'); }
.real-estate__slide--2 { background-image: url('../_images/foto-02.jpg'); }
.real-estate__slide--3 { background-image: url('../_images/foto-03.jpg'); }
.real-estate__slide--4 { background-image: url('../_images/foto-04.jpg'); }
