.view-switcher {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 40px 0 0 20px;
}

.view-switcher__label {
    color: #666;
    font-size: 13px;
}

.view-switcher__options {
    align-items: center;
    background-color: #FFF;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-left: 20px;

    & > li {
        padding: 0 10px 1px;
        position: relative;

        &:after {
            background-color: #32BCD0;
            bottom: 0;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            width: 0;
            transition: width 300ms ease;
        }

        &.is-active {
            &:after { width: 100%; }
        }

        & + li {
            &:before {
                background-color: #DFDFDF;
                content: '';
                display: block;
                height: 12px;
                left: -.5px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
            }
        }
    }
}

.view-switcher__option {
    color: #9E9D9D;
    transition: color 300ms ease;

    .view-switcher__options > .is-active & { color: $text-color; }

    & > .icon { vertical-align: middle; }
}
