@mixin clearfix() {
    &:before, &:after {
        content: ' ';
        display: table;
    }

    &:after { clear: both; }
}

@mixin make-grid-columns($i: 1, $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}") {
    @for $i from (1 + 1) through $grid-columns {
        $list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
    }

    #{$list} {
        position: relative;
        min-height: 1px;
        padding-left:  ceil(($grid-gutter-width / 2));
        padding-right: floor(($grid-gutter-width / 2));

        @include media('<phone') {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@mixin float-grid-columns($class, $i: 1, $list: ".col-#{$class}-#{$i}") {
    @for $i from (1 + 1) through $grid-columns {
        $list: "#{$list}, .col-#{$class}-#{$i}";
    }

    #{$list} { float: left; }
}

@mixin calc-grid-column($index, $class, $type) {
    @if ($type == width) and ($index > 0) {
        .col-#{$class}-#{$index} { width: percentage(($index / $grid-columns)); }
    }

    @if ($type == push) and ($index > 0) {
        .col-#{$class}-push-#{$index} { left: percentage(($index / $grid-columns)); }
    }

    @if ($type == push) and ($index == 0) {
        .col-#{$class}-push-0 { left: auto; }
    }

    @if ($type == pull) and ($index > 0) {
        .col-#{$class}-pull-#{$index} { right: percentage(($index / $grid-columns)); }
    }

    @if ($type == pull) and ($index == 0) {
        .col-#{$class}-pull-0 { right: auto; }
    }

    @if ($type == offset) {
        .col-#{$class}-offset-#{$index} { margin-left: percentage(($index / $grid-columns)); }
    }
}

@mixin loop-grid-columns($columns, $class, $type) {
    @for $i from 0 through $columns {
        @include calc-grid-column($i, $class, $type);
    }
}

@mixin make-grid($class) {
    @include float-grid-columns($class);
    @include loop-grid-columns($grid-columns, $class, width);
    @include loop-grid-columns($grid-columns, $class, pull);
    @include loop-grid-columns($grid-columns, $class, push);
    @include loop-grid-columns($grid-columns, $class, offset);
}

@mixin container-fixed($gutter: $grid-gutter-width) {
    margin-right: auto;
    margin-left: auto;
    padding-left:  floor(($gutter / 2));
    padding-right: ceil(($gutter / 2));

    @include media('<phone') {
        padding-left: 10px;
        padding-right: 10px;
    }

    @include clearfix;
}

@mixin make-row($gutter: $grid-gutter-width) {
    margin-left:  ceil(($gutter / -2));
    margin-right: floor(($gutter / -2));

    @include media('<phone') {
        margin-left: -10px;
        margin-right: -10px;
    }

    @include clearfix;
}

@mixin responsive-invisibility($parent) {
    #{$parent} { display: none !important; }
}

@mixin center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin text-hide() {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

@mixin img-responsive($display: block) {
    display: $display;
    max-width: 100%;
    height: auto;
}

@mixin reset-text() {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: $line-height;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;

    @media (max-#{$dimension}: #{$min-breakpoint}) { font-size: $min; }

    @if $max {
        $max-breakpoint: $max / $responsive-unitless * 100;
        @media (min-#{$dimension}: #{$max-breakpoint}) { font-size: $max; }
    }

    @if $fallback {
        font-size: $fallback;
    }

    font-size: $responsive;
}

@mixin list-unstyled {
    padding-left: 0;
    list-style: none;
}

@mixin btn-colors ($color, $background, $shadow, $color-hover, $background-hover, $shadow-hover) {
    background-color: $background;
    box-shadow: 0 4px $shadow;
    color: $color;

    &:hover {
        background-color: $background-hover;
        box-shadow: 0 4px $shadow-hover;
        color: $color-hover;
    }

    &:active {
        box-shadow: 0 2px $shadow-hover;
        transform: translateY(2px);
    }
}
