$body-bg: #F5F3F3 !default;
$text-color: #626262 !default;

$link-color: $text-color !default;
$link-hover-color: darken($text-color, 15%) !default;
$link-hover-decoration: underline !default;

$font-family-sans-serif: 'Roboto', sans-serif !default;
$font-family-serif: Georgia, 'Times New Roman', Times, serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 14px !default;
$line-height-base: 1.714285714 !default;
$line-height-computed: floor(($font-size-base * $line-height-base)) !default;

$btn-primary: (
    color: #FFF,
    background: #00BDD2,
    shadow: #00A2B5,
    color-hover: #FFF,
    background-hover: #00D4EB,
    shadow-hover: #00C6DD
);

$screen-xs-min: 480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;

$container-sm: (720px + $grid-gutter-width) !default;
$container-md: (940px + $grid-gutter-width) !default;
$container-lg: (1140px + $grid-gutter-width) !default;
